.App {
  text-align: center;
  height: 100%;
}

.dashboard {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
.global-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  
}
.hello-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 15%;
  padding-left: 5%;
  padding-top: 1.5%;
}

.charts-container{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50%;
}

.charts-container-left{
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
  padding-left: 5%;
  padding-top: 1.5%;
}

.bottom-charts-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 80%;
  margin-top: 1.5%;
}

.charts-container-right{
  display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
    justify-content: space-between;
    padding-top: 1.5%;
    align-items: center;
    margin-right: -5%;
    
}