.header {
    width: 100%;
    display: flex;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    align-items: center;
    color: white;
    background-color: black;
    
}
.logo img{
    width: 180px;
    height: 60px;
    margin-left: 30px;
}
.menu{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.menu ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    
}